body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:807px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:432px;
  top:0px;
  width:375px;
  height:666px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:662px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:662px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:323px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:320px;
}
#u2133 {
  position:absolute;
  left:434px;
  top:0px;
  width:373px;
  height:320px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:152px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:344px;
}
#u2135 {
  position:absolute;
  left:433px;
  top:321px;
  width:373px;
  height:344px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:164px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
