body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:671px;
}
#u1876 {
  position:absolute;
  left:21px;
  top:0px;
  width:374px;
  height:671px;
}
#u1877 {
  position:absolute;
  left:2px;
  top:328px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878 {
  position:absolute;
  left:22px;
  top:208px;
  width:373px;
  height:463px;
  overflow:hidden;
}
#u1878_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:463px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1878_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:508px;
  overflow:hidden;
}
#u1879_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:508px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1879_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:433px;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:433px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:208px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:260px;
}
#u1882 {
  position:absolute;
  left:1px;
  top:431px;
  width:373px;
  height:260px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:122px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:97px;
}
#u1884 {
  position:absolute;
  left:5px;
  top:212px;
  width:382px;
  height:97px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:40px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u1886 {
  position:absolute;
  left:93px;
  top:145px;
  width:113px;
  height:41px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:41px;
}
#u1888 {
  position:absolute;
  left:215px;
  top:145px;
  width:108px;
  height:41px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
