body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:971px;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:971px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:478px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:68px;
}
#u2249 {
  position:absolute;
  left:427px;
  top:33px;
  width:993px;
  height:68px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:26px;
  width:989px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:62px;
}
#u2251 {
  position:absolute;
  left:298px;
  top:37px;
  width:119px;
  height:62px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:23px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FE9F1F;
}
#u2253 {
  position:absolute;
  left:194px;
  top:49px;
  width:79px;
  height:35px;
  font-size:16px;
  color:#FE9F1F;
}
#u2254 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u2255 {
  position:absolute;
  left:159px;
  top:50px;
  width:37px;
  height:32px;
}
#u2256 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2257 {
  position:absolute;
  left:172px;
  top:55px;
  width:23px;
  height:23px;
}
#u2258 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:430px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2259 {
  position:absolute;
  left:0px;
  top:122px;
  width:154px;
  height:430px;
}
#u2260 {
  position:absolute;
  left:2px;
  top:207px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
