body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:874px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1562 {
  position:absolute;
  left:499px;
  top:0px;
  width:375px;
  height:670px;
}
#u1563 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1564 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u1565 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:369px;
}
#u1566 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:369px;
}
#u1567 {
  position:absolute;
  left:2px;
  top:176px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:294px;
}
#u1568 {
  position:absolute;
  left:0px;
  top:368px;
  width:373px;
  height:294px;
}
#u1569 {
  position:absolute;
  left:2px;
  top:139px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:662px;
}
#u1570 {
  position:absolute;
  left:500px;
  top:0px;
  width:373px;
  height:662px;
}
#u1571 {
  position:absolute;
  left:2px;
  top:323px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
