body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:876px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1832 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u1833 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1834 {
  position:absolute;
  left:501px;
  top:-4px;
  width:375px;
  height:668px;
}
#u1835 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1836 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:670px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:662px;
}
#u1838 {
  position:absolute;
  left:1px;
  top:0px;
  width:373px;
  height:662px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:323px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840 {
  position:absolute;
  left:0px;
  top:206px;
  width:373px;
  height:463px;
  overflow:hidden;
}
#u1840_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:463px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1840_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:508px;
  overflow:hidden;
}
#u1841_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:508px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1841_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:295px;
}
#u1842 {
  position:absolute;
  left:3px;
  top:432px;
  width:371px;
  height:295px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:140px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:430px;
}
#u1844 {
  position:absolute;
  left:1px;
  top:2px;
  width:373px;
  height:430px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:207px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u1846 {
  position:absolute;
  left:132px;
  top:144px;
  width:114px;
  height:40px;
}
#u1847 {
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u1848 {
  position:absolute;
  left:246px;
  top:147px;
  width:111px;
  height:37px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u1850 {
  position:absolute;
  left:20px;
  top:146px;
  width:112px;
  height:38px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:11px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
