body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:662px;
}
#u2104 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:662px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:323px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106 {
  position:absolute;
  left:0px;
  top:75px;
  width:373px;
  height:586px;
  overflow:hidden;
}
#u2106_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:586px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2106_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:667px;
  overflow:hidden;
}
#u2107_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:667px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2107_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2109 {
  position:absolute;
  left:0px;
  top:1px;
  width:370px;
  height:100px;
}
.u2110 {
  position:absolute;
  left:2px;
  top:42px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u2111 {
  position:absolute;
  left:10px;
  top:5px;
  width:90px;
  height:90px;
}
.u2112 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u2113 {
  position:absolute;
  left:110px;
  top:8px;
  width:45px;
  height:22px;
  font-size:18px;
}
.u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
.u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u2115 {
  position:absolute;
  left:109px;
  top:37px;
  width:35px;
  height:19px;
  font-size:16px;
}
.u2116 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
.u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
.u2117 {
  position:absolute;
  left:109px;
  top:56px;
  width:54px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
.u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
.u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u2119 {
  position:absolute;
  left:323px;
  top:72px;
  width:30px;
  height:19px;
  font-size:16px;
}
.u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2108-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:101px;
}
#u2108-2 {
  position:absolute;
  left:0px;
  top:101px;
  width:370px;
  height:101px;
}
#u2108-3 {
  position:absolute;
  left:0px;
  top:202px;
  width:370px;
  height:101px;
}
#u2108-4 {
  position:absolute;
  left:0px;
  top:303px;
  width:370px;
  height:101px;
}
#u2108-5 {
  position:absolute;
  left:0px;
  top:404px;
  width:370px;
  height:101px;
}
#u2108-6 {
  position:absolute;
  left:0px;
  top:505px;
  width:370px;
  height:101px;
}
#u2108-7 {
  position:absolute;
  left:0px;
  top:606px;
  width:370px;
  height:101px;
}
#u2108-8 {
  position:absolute;
  left:0px;
  top:707px;
  width:370px;
  height:101px;
}
#u2108 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:32px;
}
#u2121 {
  position:absolute;
  left:15px;
  top:33px;
  width:38px;
  height:32px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
