body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:662px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2042 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:662px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:323px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:662px;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:662px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:323px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u2046 {
  position:absolute;
  left:126px;
  top:26px;
  width:106px;
  height:41px;
  font-size:18px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:576px;
}
#u2048 {
  position:absolute;
  left:0px;
  top:87px;
  width:373px;
  height:576px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:280px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:574px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2050 {
  position:absolute;
  left:0px;
  top:89px;
  width:373px;
  height:574px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:279px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u2053 {
  position:absolute;
  left:0px;
  top:89px;
  width:373px;
  height:60px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u2055 {
  position:absolute;
  left:23px;
  top:96px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:19px;
}
#u2057 {
  position:absolute;
  left:23px;
  top:122px;
  width:168px;
  height:19px;
  font-size:16px;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:40px;
}
#u2060 {
  position:absolute;
  left:0px;
  top:147px;
  width:373px;
  height:40px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u2062 {
  position:absolute;
  left:21px;
  top:158px;
  width:71px;
  height:16px;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u2064 {
  position:absolute;
  left:317px;
  top:158px;
  width:39px;
  height:16px;
  color:#FEA11E;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:474px;
}
#u2066 {
  position:absolute;
  left:0px;
  top:188px;
  width:373px;
  height:474px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:229px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u2068 {
  position:absolute;
  left:22px;
  top:201px;
  width:57px;
  height:16px;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:83px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2070 {
  position:absolute;
  left:0px;
  top:242px;
  width:373px;
  height:83px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:34px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u2072 {
  position:absolute;
  left:20px;
  top:242px;
  width:80px;
  height:75px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2074 {
  position:absolute;
  left:119px;
  top:245px;
  width:184px;
  height:38px;
  font-size:16px;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2076 {
  position:absolute;
  left:119px;
  top:291px;
  width:59px;
  height:16px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u2078 {
  position:absolute;
  left:21px;
  top:339px;
  width:127px;
  height:16px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u2080 {
  position:absolute;
  left:21px;
  top:380px;
  width:109px;
  height:16px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:16px;
}
#u2082 {
  position:absolute;
  left:21px;
  top:422px;
  width:219px;
  height:16px;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
}
#u2084 {
  position:absolute;
  left:21px;
  top:463px;
  width:185px;
  height:16px;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u2086 {
  position:absolute;
  left:88px;
  top:106px;
  width:0px;
  height:0px;
}
#u2086_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:416px;
  height:8px;
}
#u2086_seg1 {
  position:absolute;
  left:408px;
  top:-8px;
  width:8px;
  height:12px;
}
#u2086_seg2 {
  position:absolute;
  left:408px;
  top:-8px;
  width:19px;
  height:8px;
}
#u2086_seg3 {
  position:absolute;
  left:412px;
  top:-14px;
  width:20px;
  height:20px;
}
#u2087 {
  position:absolute;
  left:166px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2088 {
  position:absolute;
  left:515px;
  top:78px;
  width:99px;
  height:48px;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2090 {
  position:absolute;
  left:191px;
  top:135px;
  width:0px;
  height:0px;
}
#u2090_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:218px;
  height:8px;
}
#u2090_seg1 {
  position:absolute;
  left:210px;
  top:-4px;
  width:8px;
  height:44px;
}
#u2090_seg2 {
  position:absolute;
  left:210px;
  top:32px;
  width:80px;
  height:8px;
}
#u2090_seg3 {
  position:absolute;
  left:275px;
  top:26px;
  width:20px;
  height:20px;
}
#u2091 {
  position:absolute;
  left:113px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  position:absolute;
  left:514px;
  top:159px;
  width:85px;
  height:16px;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2094 {
  position:absolute;
  left:156px;
  top:349px;
  width:0px;
  height:0px;
}
#u2094_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:343px;
  height:8px;
}
#u2094_seg1 {
  position:absolute;
  left:324px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2095 {
  position:absolute;
  left:120px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2096 {
  position:absolute;
  left:510px;
  top:341px;
  width:169px;
  height:16px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
