body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:875px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:54px;
  width:790px;
  height:1033px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u3 {
  position:absolute;
  left:80px;
  top:0px;
  width:140px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:36px;
}
#u5 {
  position:absolute;
  left:220px;
  top:0px;
  width:361px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:357px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u7 {
  position:absolute;
  left:581px;
  top:0px;
  width:153px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u9 {
  position:absolute;
  left:734px;
  top:0px;
  width:51px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:36px;
  width:80px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u13 {
  position:absolute;
  left:80px;
  top:36px;
  width:140px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
}
#u15 {
  position:absolute;
  left:220px;
  top:36px;
  width:361px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u17 {
  position:absolute;
  left:581px;
  top:36px;
  width:153px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u19 {
  position:absolute;
  left:734px;
  top:36px;
  width:51px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u21 {
  position:absolute;
  left:0px;
  top:66px;
  width:80px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u23 {
  position:absolute;
  left:80px;
  top:66px;
  width:140px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:36px;
}
#u25 {
  position:absolute;
  left:220px;
  top:66px;
  width:361px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:357px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u27 {
  position:absolute;
  left:581px;
  top:66px;
  width:153px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u29 {
  position:absolute;
  left:734px;
  top:66px;
  width:51px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u31 {
  position:absolute;
  left:0px;
  top:102px;
  width:80px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u33 {
  position:absolute;
  left:80px;
  top:102px;
  width:140px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:36px;
}
#u35 {
  position:absolute;
  left:220px;
  top:102px;
  width:361px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:357px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u37 {
  position:absolute;
  left:581px;
  top:102px;
  width:153px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u39 {
  position:absolute;
  left:734px;
  top:102px;
  width:51px;
  height:36px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u41 {
  position:absolute;
  left:0px;
  top:138px;
  width:80px;
  height:68px;
}
#u42 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:68px;
}
#u43 {
  position:absolute;
  left:80px;
  top:138px;
  width:140px;
  height:68px;
}
#u44 {
  position:absolute;
  left:2px;
  top:26px;
  width:136px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:68px;
}
#u45 {
  position:absolute;
  left:220px;
  top:138px;
  width:361px;
  height:68px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:357px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:68px;
}
#u47 {
  position:absolute;
  left:581px;
  top:138px;
  width:153px;
  height:68px;
}
#u48 {
  position:absolute;
  left:2px;
  top:26px;
  width:149px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:68px;
}
#u49 {
  position:absolute;
  left:734px;
  top:138px;
  width:51px;
  height:68px;
}
#u50 {
  position:absolute;
  left:2px;
  top:26px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u51 {
  position:absolute;
  left:0px;
  top:206px;
  width:80px;
  height:68px;
}
#u52 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:68px;
}
#u53 {
  position:absolute;
  left:80px;
  top:206px;
  width:140px;
  height:68px;
}
#u54 {
  position:absolute;
  left:2px;
  top:26px;
  width:136px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:68px;
}
#u55 {
  position:absolute;
  left:220px;
  top:206px;
  width:361px;
  height:68px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:357px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:68px;
}
#u57 {
  position:absolute;
  left:581px;
  top:206px;
  width:153px;
  height:68px;
}
#u58 {
  position:absolute;
  left:2px;
  top:26px;
  width:149px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:68px;
}
#u59 {
  position:absolute;
  left:734px;
  top:206px;
  width:51px;
  height:68px;
}
#u60 {
  position:absolute;
  left:2px;
  top:26px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u61 {
  position:absolute;
  left:0px;
  top:274px;
  width:80px;
  height:68px;
}
#u62 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:68px;
}
#u63 {
  position:absolute;
  left:80px;
  top:274px;
  width:140px;
  height:68px;
}
#u64 {
  position:absolute;
  left:2px;
  top:26px;
  width:136px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:68px;
}
#u65 {
  position:absolute;
  left:220px;
  top:274px;
  width:361px;
  height:68px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:357px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:68px;
}
#u67 {
  position:absolute;
  left:581px;
  top:274px;
  width:153px;
  height:68px;
}
#u68 {
  position:absolute;
  left:2px;
  top:26px;
  width:149px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:68px;
}
#u69 {
  position:absolute;
  left:734px;
  top:274px;
  width:51px;
  height:68px;
}
#u70 {
  position:absolute;
  left:2px;
  top:26px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:49px;
}
#u71 {
  position:absolute;
  left:0px;
  top:342px;
  width:80px;
  height:49px;
}
#u72 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:49px;
}
#u73 {
  position:absolute;
  left:80px;
  top:342px;
  width:140px;
  height:49px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:49px;
}
#u75 {
  position:absolute;
  left:220px;
  top:342px;
  width:361px;
  height:49px;
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:357px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:49px;
}
#u77 {
  position:absolute;
  left:581px;
  top:342px;
  width:153px;
  height:49px;
}
#u78 {
  position:absolute;
  left:2px;
  top:16px;
  width:149px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u79 {
  position:absolute;
  left:734px;
  top:342px;
  width:51px;
  height:49px;
}
#u80 {
  position:absolute;
  left:2px;
  top:16px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u81 {
  position:absolute;
  left:0px;
  top:391px;
  width:80px;
  height:52px;
}
#u82 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u83 {
  position:absolute;
  left:80px;
  top:391px;
  width:140px;
  height:52px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:52px;
}
#u85 {
  position:absolute;
  left:220px;
  top:391px;
  width:361px;
  height:52px;
}
#u86 {
  position:absolute;
  left:2px;
  top:18px;
  width:357px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u87 {
  position:absolute;
  left:581px;
  top:391px;
  width:153px;
  height:52px;
}
#u88 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:52px;
}
#u89 {
  position:absolute;
  left:734px;
  top:391px;
  width:51px;
  height:52px;
}
#u90 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u91 {
  position:absolute;
  left:0px;
  top:443px;
  width:80px;
  height:52px;
}
#u92 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u93 {
  position:absolute;
  left:80px;
  top:443px;
  width:140px;
  height:52px;
}
#u94 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:52px;
}
#u95 {
  position:absolute;
  left:220px;
  top:443px;
  width:361px;
  height:52px;
}
#u96 {
  position:absolute;
  left:2px;
  top:18px;
  width:357px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u97 {
  position:absolute;
  left:581px;
  top:443px;
  width:153px;
  height:52px;
}
#u98 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:52px;
}
#u99 {
  position:absolute;
  left:734px;
  top:443px;
  width:51px;
  height:52px;
}
#u100 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:63px;
}
#u101 {
  position:absolute;
  left:0px;
  top:495px;
  width:80px;
  height:63px;
}
#u102 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:63px;
}
#u103 {
  position:absolute;
  left:80px;
  top:495px;
  width:140px;
  height:63px;
}
#u104 {
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:63px;
}
#u105 {
  position:absolute;
  left:220px;
  top:495px;
  width:361px;
  height:63px;
}
#u106 {
  position:absolute;
  left:2px;
  top:24px;
  width:357px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:63px;
}
#u107 {
  position:absolute;
  left:581px;
  top:495px;
  width:153px;
  height:63px;
}
#u108 {
  position:absolute;
  left:2px;
  top:24px;
  width:149px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:63px;
}
#u109 {
  position:absolute;
  left:734px;
  top:495px;
  width:51px;
  height:63px;
}
#u110 {
  position:absolute;
  left:2px;
  top:24px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:59px;
}
#u111 {
  position:absolute;
  left:0px;
  top:558px;
  width:80px;
  height:59px;
}
#u112 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:59px;
}
#u113 {
  position:absolute;
  left:80px;
  top:558px;
  width:140px;
  height:59px;
}
#u114 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:59px;
}
#u115 {
  position:absolute;
  left:220px;
  top:558px;
  width:361px;
  height:59px;
}
#u116 {
  position:absolute;
  left:2px;
  top:22px;
  width:357px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:59px;
}
#u117 {
  position:absolute;
  left:581px;
  top:558px;
  width:153px;
  height:59px;
}
#u118 {
  position:absolute;
  left:2px;
  top:22px;
  width:149px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:59px;
}
#u119 {
  position:absolute;
  left:734px;
  top:558px;
  width:51px;
  height:59px;
}
#u120 {
  position:absolute;
  left:2px;
  top:22px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:57px;
}
#u121 {
  position:absolute;
  left:0px;
  top:617px;
  width:80px;
  height:57px;
}
#u122 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:57px;
}
#u123 {
  position:absolute;
  left:80px;
  top:617px;
  width:140px;
  height:57px;
}
#u124 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:57px;
}
#u125 {
  position:absolute;
  left:220px;
  top:617px;
  width:361px;
  height:57px;
}
#u126 {
  position:absolute;
  left:2px;
  top:20px;
  width:357px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:57px;
}
#u127 {
  position:absolute;
  left:581px;
  top:617px;
  width:153px;
  height:57px;
}
#u128 {
  position:absolute;
  left:2px;
  top:20px;
  width:149px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:57px;
}
#u129 {
  position:absolute;
  left:734px;
  top:617px;
  width:51px;
  height:57px;
}
#u130 {
  position:absolute;
  left:2px;
  top:20px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u131 {
  position:absolute;
  left:0px;
  top:674px;
  width:80px;
  height:60px;
}
#u132 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u133 {
  position:absolute;
  left:80px;
  top:674px;
  width:140px;
  height:60px;
}
#u134 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:60px;
}
#u135 {
  position:absolute;
  left:220px;
  top:674px;
  width:361px;
  height:60px;
}
#u136 {
  position:absolute;
  left:2px;
  top:22px;
  width:357px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
}
#u137 {
  position:absolute;
  left:581px;
  top:674px;
  width:153px;
  height:60px;
}
#u138 {
  position:absolute;
  left:2px;
  top:22px;
  width:149px;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:60px;
}
#u139 {
  position:absolute;
  left:734px;
  top:674px;
  width:51px;
  height:60px;
}
#u140 {
  position:absolute;
  left:2px;
  top:22px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u141 {
  position:absolute;
  left:0px;
  top:734px;
  width:80px;
  height:51px;
}
#u142 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
}
#u143 {
  position:absolute;
  left:80px;
  top:734px;
  width:140px;
  height:51px;
}
#u144 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:51px;
}
#u145 {
  position:absolute;
  left:220px;
  top:734px;
  width:361px;
  height:51px;
}
#u146 {
  position:absolute;
  left:2px;
  top:18px;
  width:357px;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u147 {
  position:absolute;
  left:581px;
  top:734px;
  width:153px;
  height:51px;
}
#u148 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u149 {
  position:absolute;
  left:734px;
  top:734px;
  width:51px;
  height:51px;
}
#u150 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:57px;
}
#u151 {
  position:absolute;
  left:0px;
  top:785px;
  width:80px;
  height:57px;
}
#u152 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:57px;
}
#u153 {
  position:absolute;
  left:80px;
  top:785px;
  width:140px;
  height:57px;
}
#u154 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:57px;
}
#u155 {
  position:absolute;
  left:220px;
  top:785px;
  width:361px;
  height:57px;
}
#u156 {
  position:absolute;
  left:2px;
  top:20px;
  width:357px;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:57px;
}
#u157 {
  position:absolute;
  left:581px;
  top:785px;
  width:153px;
  height:57px;
}
#u158 {
  position:absolute;
  left:2px;
  top:20px;
  width:149px;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:57px;
}
#u159 {
  position:absolute;
  left:734px;
  top:785px;
  width:51px;
  height:57px;
}
#u160 {
  position:absolute;
  left:2px;
  top:20px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u161 {
  position:absolute;
  left:0px;
  top:842px;
  width:80px;
  height:30px;
}
#u162 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u163 {
  position:absolute;
  left:80px;
  top:842px;
  width:140px;
  height:30px;
}
#u164 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
}
#u165 {
  position:absolute;
  left:220px;
  top:842px;
  width:361px;
  height:30px;
}
#u166 {
  position:absolute;
  left:2px;
  top:7px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u167 {
  position:absolute;
  left:581px;
  top:842px;
  width:153px;
  height:30px;
}
#u168 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u169 {
  position:absolute;
  left:734px;
  top:842px;
  width:51px;
  height:30px;
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u171 {
  position:absolute;
  left:0px;
  top:872px;
  width:80px;
  height:84px;
}
#u172 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:84px;
}
#u173 {
  position:absolute;
  left:80px;
  top:872px;
  width:140px;
  height:84px;
}
#u174 {
  position:absolute;
  left:2px;
  top:34px;
  width:136px;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:84px;
}
#u175 {
  position:absolute;
  left:220px;
  top:872px;
  width:361px;
  height:84px;
}
#u176 {
  position:absolute;
  left:2px;
  top:10px;
  width:357px;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:84px;
}
#u177 {
  position:absolute;
  left:581px;
  top:872px;
  width:153px;
  height:84px;
}
#u178 {
  position:absolute;
  left:2px;
  top:34px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:84px;
}
#u179 {
  position:absolute;
  left:734px;
  top:872px;
  width:51px;
  height:84px;
}
#u180 {
  position:absolute;
  left:2px;
  top:34px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u181 {
  position:absolute;
  left:0px;
  top:956px;
  width:80px;
  height:36px;
}
#u182 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u183 {
  position:absolute;
  left:80px;
  top:956px;
  width:140px;
  height:36px;
}
#u184 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:36px;
}
#u185 {
  position:absolute;
  left:220px;
  top:956px;
  width:361px;
  height:36px;
  text-align:left;
}
#u186 {
  position:absolute;
  left:2px;
  top:10px;
  width:357px;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u187 {
  position:absolute;
  left:581px;
  top:956px;
  width:153px;
  height:36px;
}
#u188 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u189 {
  position:absolute;
  left:734px;
  top:956px;
  width:51px;
  height:36px;
}
#u190 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u191 {
  position:absolute;
  left:0px;
  top:992px;
  width:80px;
  height:36px;
}
#u192 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u193 {
  position:absolute;
  left:80px;
  top:992px;
  width:140px;
  height:36px;
}
#u194 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:36px;
}
#u195 {
  position:absolute;
  left:220px;
  top:992px;
  width:361px;
  height:36px;
}
#u196 {
  position:absolute;
  left:2px;
  top:10px;
  width:357px;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u197 {
  position:absolute;
  left:581px;
  top:992px;
  width:153px;
  height:36px;
}
#u198 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u199 {
  position:absolute;
  left:734px;
  top:992px;
  width:51px;
  height:36px;
}
#u200 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
